<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
<header >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link">товарищ </a>
                <li class="nav-item active">
                    <a class="nav-link" th:utext="${user.getName()}"> </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:utext="${user.getSurname()}"> </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link">с ролью </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:utext="${user.getRole(user.getRoles())}">Notifications</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a class="nav-link text-muted" th:href="@{/logout}">Logout</a>
            </form>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="padding: 0; padding-top: 15px">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#v-pills-admin">администратор</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#v-pills-user">пользователь</a>
                </li>
            </ul>
        </div>
        <div class="col-10 vh-100 bg-light">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-admin-tab">
                    <div > <h1>панель администратора</h1>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" id="allUsersTable" href="#nav-users">картотека</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#newUser">добавить товарища</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-users" role="tabpanel"
                                 aria-labelledby="nav-users-tab">
                                <div class="p-2">
                                    <h5>все товарищи</h5>
                                </div>
                                <table class="table table-striped bg-white">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Имя</th>
                                        <th scope="col">Фамилия</th>
                                        <th scope="col">адрес</th>
                                        <th scope="col">телефон</th>
                                        <th scope="col">eMail</th>
                                        <th scope="col">роль</th>
                                        <th scope="col">изменить</th>
                                        <th scope="col">удалить</th>
                                    </tr>
                                    </thead>
                                    <tbody id="fill-users">
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade px-4" id="newUser" role="tabpanel" aria-labelledby="nav-newUser-tab">
                                <div class="p-2">
                                    <h5>добавить нового товарища</h5>
                                </div>
                                <div class="row justify-content-center align-items-center bg-white">
                                    <div class="col-4">
                                        <form class="text-center" id="addNewUserTable">
                                            <div class="form-group fw-bold">
                                                <div class="form-group m-3">
                                                    <div class="form-group m-3">
                                                        <label for="newName" class="col-form-label">имя</label>
                                                        <input type="text" class="form-control" id="newName"
                                                               name="name" value="" required/>
                                                    </div>

                                                    <div class="form-group m-3">
                                                        <label for="newSurname" class="col-form-label">фамилия</label>
                                                        <input type="text" class="form-control" id="newSurname"
                                                               name="surname" value="" required/>
                                                    </div>

                                                    <div class="form-group m-3">
                                                        <label for="newAddress" class="col-form-label">адрес</label>
                                                        <input type="text" class="form-control" id="newAddress"
                                                               name="address" value="" required/>
                                                    </div>

                                                    <div class="form-group m-3">
                                                        <label for="newPhoneNumber" class="col-form-label">телефон</label>
                                                        <input type="text" class="form-control" id="newPhoneNumber"
                                                               name="phoneNumber" value="" required/>
                                                    </div>

                                                    <div class="form-group m-3">
                                                        <label for="newUsername" class="col-form-label">eMail</label>
                                                        <input type="text" class="form-control" id="newUsername"
                                                               name="username" value="" required/>
                                                    </div>


                                                    <div class="form-group m-3">
                                                        <label for="newPassword" class="col-form-label">пароль</label>
                                                        <input th:type="password" class="form-control" id="newPassword"
                                                               name="password" value="" required/>
                                                    </div>

                                                    <div class="form-group m-3" readonly="readonly">
                                                        <label for="newRoles">роль</label>
                                                        <select class="form-select w-100" multiple
                                                                aria-label="multiple select example"
                                                                size="2"
                                                                id="newRoles"
                                                                name="roles">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-success">добавить товарища в список</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div></div>
                </div>
                <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                    <div><h1 class="ps-3">карточка пользователя</h1>
                        <div class="container-fluid">
                            <div class="p-2">
                                <h5 class="p-2">информация о товарище</h5>
                            </div>
                            <div class="p-2">
                                <table class="table table-striped bg-white">
                                    <thead>
                                    <tr class="border-top">
                                        <th scope="col">Id</th>
                                        <th scope="col">имя</th>
                                        <th scope="col">фамилия</th>
                                        <th scope="col">адрес</th>
                                        <th scope="col">телефон</th>
                                        <th scope="col">eMail</th>
                                        <th scope="col">роль</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="border-top bg-light" th:object="${user}">
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.name}"></td>
                                        <td th:text="${user.surname}"></td>
                                        <td th:text="${user.address}"></td>
                                        <td th:text="${user.phoneNumber}"></td>
                                        <td th:text="${user.username}"></td>
                                        <td th:text="${user.roles.toString.replace('ROLE_','').replace('[', '').replace(']', '')}"></td>
                                    </tr>
                                </table>
                            </div>
                        </div></div>
                </div>

            </div>
        </div>

        <div>
            <div class="modal fade" aria-hidden="true"
                 role="dialog" aria-labelledby="deleteModal" id="deleteModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body fw-bold">
                            <div style="text-align: center">
                                <div class="row justify-content-center align-items-center">
                                    <form class="text-center"
                                          id="deleteFormBody">
                                        <div class="form-group font-weight-bold">
                                            <div class="form-group m-3">
                                                <label for="idDelete"
                                                       class="col-form-label">Id</label>
                                                <input type="number" class="form-control" id="idDelete"
                                                       name="id"
                                                       disabled/>
                                            </div>

                                            <div class="form-group m-3">
                                                <label for="nameDelete" class="col-form-label">имя</label>
                                                <input type="text" class="form-control"
                                                       id="nameDelete"
                                                       name="name"
                                                       disabled/>
                                            </div>

                                            <div class="form-group m-3">
                                                <label for="surnameDelete" class="col-form-label">фамилия</label>
                                                <input type="text" class="form-control"
                                                       id="surnameDelete"
                                                       name="surname"
                                                       disabled/>
                                            </div>

                                            <div class="form-group m-3">
                                                <label for="addressDelete" class="col-form-label">адрес</label>
                                                <input type="text" class="form-control"
                                                       id="addressDelete"
                                                       name="address"
                                                       disabled/>
                                            </div>

                                            <div class="form-group m-3">
                                                <label for="phoneNumberDelete" class="col-form-label">номер телефона</label>
                                                <input type="text" class="form-control"
                                                       id="phoneNumberDelete"
                                                       name="phoneNumber"
                                                       disabled/>
                                            </div>

                                            <div class="form-group m-3">
                                                <label for="usernameDelete"
                                                       class="col-form-label">eMail</label>
                                                <input type="text" class="form-control"
                                                       id="usernameDelete"
                                                       name="username"
                                                       disabled/>
                                            </div>


                                            <div class="form-group m-3" readonly="readonly">
                                                <label for="rolesDelete">роли</label>
                                                <select class="form-select w-100 "
                                                        size="2"
                                                        id="rolesDelete"
                                                        name="userRoles"
                                                        disabled="true">
                                                </select>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                        aria-label="Close">оставить всё по-прежнему
                                                </button>
                                                <button input type="submit" class="btn btn-danger"
                                                       value="Delete"/>удалить данные о товарище</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="modal fade" aria-hidden="true"
             role="dialog" aria-labelledby="editModal" id="editModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">изменить данные о товарище</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body fw-bold">
                        <div style="text-align: center;">
                            <div class="row justify-content-center align-items-center">
                                <form class="text-center"
                                      id="editFormBody">
                                    <div class="form-group font-weight-bold">
                                        <div class="form-group m-3">
                                            <label for="idEdit"
                                                   class="col-form-label">Id</label>
                                            <input type="text"
                                                   class="form-control" id="idEdit"
                                                   name="id"
                                                   disabled/>
                                        </div>

                                        <div class="form-group m-3">
                                            <label for="nameEdit">имя</label>
                                            <input type="text" class="form-control"
                                                   id="nameEdit"
                                                   name="name"/>
                                        </div>

                                        <div class="form-group m-3">
                                            <label for="surnameEdit" class="col-form-label">фамилия</label>
                                            <input type="text" class="form-control"
                                                   id="surnameEdit"
                                                   name="surname"/>
                                        </div>

                                        <div class="form-group m-3">
                                            <label for="addressEdit">адрес</label>
                                            <input type="text" class="form-control"
                                                   id="addressEdit"
                                                   name="address"/>
                                        </div>

                                        <div class="form-group m-3">
                                            <label for="phoneNumberEdit">телефон</label>
                                            <input type="number" class="form-control"
                                                   id="phoneNumberEdit"
                                                   name="phoneNumber"/>
                                        </div>

                                        <div class="form-group m-3">
                                            <label for="usernameEdit"
                                                   class="col-form-label">eMail</label>
                                            <input type="text" class="form-control"
                                                   id="usernameEdit"
                                                   name="username"/>
                                        </div>

                                        <div class="form-group m-3">
                                            <label for="passwordEdit"
                                                   class="col-form-label">пароль</label>
                                            <input type="password" class="form-control"
                                                   id="passwordEdit"
                                                   name="password"/>
                                        </div>

                                        <div class="form-group m-3">
                                            <label for="rolesEdit">роль</label>
                                            <select multiple class="form-control"
                                                    size="2"
                                                    id="rolesEdit"
                                                    name="roles">
                                            </select>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                    aria-label="Close">оставить всё по-прежнему
                                            </button>
                                            <button type="submit" class="btn btn-danger"
                                                    value="Edit" id="editButton">внести изменения</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
            integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
            crossorigin="anonymous"></script>
    <script src="logic.js"></script>
</body>
</html>